    [data-mapunit='Q'] {
        background-color: #F4F2E6;
    }

    [data-mapunit='QTb'] {
        background-color: #F0D5F0;
    }

    [data-mapunit='QTv'] {
        background-color: #E3C4F0;
    }

    [data-mapunit='Qr'] {
        background-color: #FFFFBA;
    }

    [data-mapunit='Qy'] {
        background-color: #FFFFE3;
    }

    [data-mapunit='Qm'] {
        background-color: #FFFFBA;
    }

    [data-mapunit='Qo'] {
        background-color: #FDFC9B;
    }

    [data-mapunit='QTs'] {
        background-color: #FFE8BA;
    }

    [data-mapunit='Tvy'] {
        background-color: #FFA8FF;
    }

    [data-mapunit='Tsy'] {
        background-color: #FFE8C4;
    }

    [data-mapunit='Tby'] {
        background-color: #FFBAE3;
    }

    [data-mapunit='Tb'] {
        background-color: #FF9EE3;
    }

    [data-mapunit='Tsv'] {
        background-color: #FBC47B;
    }

    [data-mapunit='Tsm'] {
        background-color: #E2B854;
    }

    [data-mapunit='Tv'] {
        background-color: #FDC158;
    }

    [data-mapunit='Tg'] {
        background-color: #FBBA7B;
    }

    [data-mapunit='Ti'] {
        background-color: #FD9E69;
    }

    [data-mapunit='TXgn'] {
        background-color: #FB9AAA;
    }

    [data-mapunit='Tso'] {
        background-color: #EED792;
    }

    [data-mapunit='TKgm'] {
        background-color: #FF8791;
    }

    [data-mapunit='TKg'] {
        background-color: #FD7765;
    }

    [data-mapunit='Kv'] {
        background-color: #D1FF87;
    }

    [data-mapunit='KJo'] {
        background-color: #BAFF9E;
    }

    [data-mapunit='KJs'] {
        background-color: #BAFF9E;
    }

    [data-mapunit='Kmv'] {
        background-color: #E8FFA8;
    }

    [data-mapunit='Ks'] {
        background-color: #B3FB85;
    }

    [data-mapunit='Jm'] {
        background-color: #78F077;
    }

    [data-mapunit='Jsv'] {
        background-color: #7DFFB2;
    }

    [data-mapunit='Jg'] {
        background-color: #E45FB0;
    }

    [data-mapunit='Jv'] {
        background-color: #7DFFB2;
    }

    [data-mapunit='J^'] {
        background-color: #B2FFF0;
    }

    [data-mapunit='}|'] {
        background-color: #81FD80;
    }

    [data-mapunit='Js'] {
        background-color: #79E29D;
    }

    [data-mapunit='Jgc'] {
        background-color: #6DF1A8;
    }

    [data-mapunit='^c'] {
        background-color: #7DFFD1;
    }

    [data-mapunit='^cs'] {
        background-color: #7DFFD1;
    }

    [data-mapunit='^m'] {
        background-color: #90DED4;
    }

    [data-mapunit='|'] {
        background-color: #7BECFB;
    }

    [data-mapunit='P'] {
        background-color: #A8F0FF;
    }

    [data-mapunit='P*'] {
        background-color: #9ED9FF;
    }

    [data-mapunit='M_'] {
        background-color: #C4D9F0;
    }

    [data-mapunit='Ys'] {
        background-color: #BAB2FF;
    }

    [data-mapunit='Yd'] {
        background-color: #D597D0;
    }

    [data-mapunit='YXg'] {
        background-color: #D1A177;
    }

    [data-mapunit='Yg'] {
        background-color: #CA8B4F;
    }

    [data-mapunit='Xg'] {
        background-color: #BA827B;
    }

    [data-mapunit='Xms'] {
        background-color: #B9C4B9;
    }

    [data-mapunit='Xq'] {
        background-color: #92B35F;
    }

    [data-mapunit='Xmv'] {
        background-color: #90B388;
    }

    [data-mapunit='Xm'] {
        background-color: #B2B25F;
    }