body {
  padding: 0;
  margin: 0;
}

#map {
  min-height: 75vh;
}

.bg-azred {
  background-color: #ab0520;
}

.btn-azblue {
  color: #fff;
  background-color: #0c234b;
}

.btn-azblue:hover {
  background-color: #133877;
}

.card-legend {
  background-color: #f3f6f4;
}

.footer {
  font-size: .8rem;
  color: #333333;
  background-color: #e6e3d9;
}

.link-nodecoration {
  text-decoration: none;
}

.mapInfoBox {
  background-color: #fff;
  border: 2px solid rgba(0,0,0,0.2);
  background-clip: padding-box;
  padding: 6px 10px 6px 6px;
  border-radius: 5px;
  width: 150px;
}